@keyframes textChange {
    0% {
      color: #504b85;

    }
    50% {
      color: #8A82EB;
    }
    100% {
      color: #504b85;
    
    }
  }
  .animate-textChange {
    animation: textChange 3s infinite; 
  }
  