/* Keyframes */
@keyframes floatButtonKeys {
    0% {
        background-color: #504b85;
    }
    50% {
        background-color: #8A82EB;
    }
    100% {
        background-color: #504b85;
    }
}

@keyframes textChange {
    0% {
        color: #504b85;
    }
    50% {
        color: #8A82EB;
    }
    100% {
        color: #504b85;
    }
}

@keyframes dialChange {
    0% {
        background-color: #504b85;
    }
    50% {
        background-color: #8A82EB;
    }
    100% {
        background-color: #504b85;
    }
}

@keyframes audioBackgraundChange {
    0% {
        background: linear-gradient(to right, #7069c0, rgba(80, 75, 133, 0.637));
    }
 
    100% {
        background: linear-gradient(to left, #8A82EB, #4d487f);
    }
}

@keyframes orangeShadow {
    0% {}
    50% {
        box-shadow: 5px 5px 15px #ff3c0089;
    }
    100% {}
}

@keyframes orangePlayControl {
    0% {}
    50% {
        color: #FF3D00;
    }
    100% {}
}

/* Styles */
.floatButtonAudio, .floatButtonImage {
    animation: floatButtonKeys 3s infinite;
    color: white !important;
}

.iconAudioFloat:hover, .iconImageFloat:hover {
    color: white !important;
}

.animate-textChange {
    animation: textChange 3s infinite;
}

.animate-audioOpen {
    animation: audioBackgraundChange 15s infinite, orangeShadow 5s forwards;
}

.animate-audioClose {
    animation: audioBackgraundChange 25s infinite;
}

.animate-playControl {
    animation: orangePlayControl 3s forwards;
}
