@font-face {
    font-family: 'DigitalClock';
    src: url('../../assets/fonts/DS-DIGIB.TTF') format('truetype');
  }
  
  .digital-clock {
    font-family: 'DigitalClock', sans-serif;
     color: #9333ea; 
    letter-spacing: 2px; 
  }
  